<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jone.ssm.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.jone.ssm.pojo.User" >
    <id column="c_id" property="id" jdbcType="VARCHAR" />
    <result column="c_name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
    select * from t_user
  </select>
  <select id="selectAll2" resultMap="BaseResultMap">
    select * from public.t_user
  </select>
</mapper>